<header class="Header">
	<div class="Header__grid container">

		<a href="/" class="Header__logo" aria-label="logo">
			<img src="../../images/logo.svg" alt="">
		</a>

		<a href="" class="Header__phone">
			{{icon "phone" class="Icon"}}
			<span>+7 (495) 495-49-54</span>
		</a>

	</div>
</header>
